@model IEnumerable<IYTEthesis.Model.Vehicle>
@{
    ViewBag.Title = "Vehicle's page";
}
<div class="row">
<div class="col-lg-1">.</div>
<div class="col-lg-1" style="background-color: aliceblue">    
    <h4>Vehicle's page</h4>
    <p>@Html.ActionLink("Create New", "Create")</p>
</div>

<div class="col-lg-9" style="background-color: white">

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>

</div>
<div class="col-lg-1">.</div>


</div><!-- ROW -->
