@model IEnumerable<IYTEthesis.Model.Owner>
@{
    ViewBag.Title = "Owner's page";
}

<div class="row">
<div class="col-lg-1">.</div>
<div class="col-lg-1" style="background-color: aliceblue">    
    <h4>Customer's page</h4>
    <p>@Html.ActionLink("Create New", "Create")</p>
</div>

<div class="col-lg-9" style="background-color: white">

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerId })
        </td>
    </tr>
}

</table>

</div>
<div class="col-lg-1">.</div>


</div><!-- ROW -->